# let's make some fake files

In [1]:
data = {
    "col1": ["data1"],
    "col2": ["data2"],
    "col3": ["data3"],
    "col4": ["data4"]
}

In [2]:
## we're doing this so if you don't have the folder, make it!
import os
if not os.path.exists("fake_data"):
    os.mkdir("./fake_data")

In [3]:
import pandas as pd

## notice we can create a dataframe from a dictionary

In [4]:
pd.DataFrame().from_dict(data)

    col1   col2   col3   col4
0  data1  data2  data3  data4

## this is how we could generate 10 files ... with the data

In [5]:
# generate 10 files
for i in range(0,10):
    pd.DataFrame().from_dict(data).to_json(f"fake_data/file{i:003}.json")

## this is how we could load all of those files into a single dataframe

In [6]:
combined_df = pd.DataFrame() # empty dataframe for our fake data

for i in range(0,10):
    _tmp_df = pd.read_json(f"fake_data/file{i:003}.json")

    combined_df = pd.concat([combined_df, _tmp_df]) # concat takes a list of what you want to combine

In [7]:
combined_df

    col1   col2   col3   col4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4
0  data1  data2  data3  data4

## notice the index is wrong, so let's reset the index

In [8]:
combined_df.reset_index()

   index   col1   col2   col3   col4
0      0  data1  data2  data3  data4
1      0  data1  data2  data3  data4
2      0  data1  data2  data3  data4
3      0  data1  data2  data3  data4
4      0  data1  data2  data3  data4
5      0  data1  data2  data3  data4
6      0  data1  data2  data3  data4
7      0  data1  data2  data3  data4
8      0  data1  data2  data3  data4
9      0  data1  data2  data3  data4

In [9]:
combined_df = combined_df.reset_index()